@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");

* {
    font-family: "Miriam Libre", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
